<h4>Welcome to Manager Panel</h4>
<table class="table table-striped">
        <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>Name</th>
          <th>Username</th>
          <th>E-mail</th>
          <th>Roles</th>
          <th>Teams</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td class="hidden">{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.roles}}</td>
          <td>{{user.teams}}</td>
    </tr>
        </tbody>
      </table>
    {{errorMessage}}